In [1]:
import pandas as pd

# Carregamento dos dados
path = r'C:\pandas-profiling\data\datasets\automobile_data_from_kaggle.csv'
df = pd.read_csv (path)

,id,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,1001,3,?,alfa-romero,gas,std,two,convertible,rwd,front,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,1002,3,?,alfa-romero,gas,std,two,convertible,rwd,front,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1003,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,1004,2,164,audi,gas,std,four,sedan,fwd,front,...,109,mpfi,3.19,3.4,10.0,102,5500,24,30,13950
4,1005,2,164,audi,gas,std,four,sedan,4wd,front,...,136,mpfi,3.19,3.4,8.0,115,5500,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,1201,-1,95,volvo,gas,std,four,sedan,rwd,front,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845
201,1202,-1,95,volvo,gas,turbo,four,sedan,rwd,front,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045
202,1203,-1,95,volvo,gas,std,four,sedan,rwd,front,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485
203,1204,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,...,145,idi,3.01,3.4,23.0,106,4800,26,27,22470
204,1205,-1,95,volvo,gas,turbo,four,sedan,rwd,front,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625

In [2]:
#CriaÃ§Ã£o data frames de colunas

df1 = df[['id']]
df2 = df[['symboling']]
df3 = df[['normalized-losses']]
df4 = df[['make']]
df5 = df[['fuel-type']]
df6 = df[['aspiration']]
df7 = df[['num-of-doors']]
df8 = df[['body-style']]
df9 = df[['drive-wheels']]
df10 = df[['engine-location']]
df11 = df[['wheel-base']]
df12 = df[['length']]
df13 = df[['width']]
df14 = df[['height']]
df15 = df[['curb-weight']]
df16 = df[['engine-type']]
df17 = df[['num-of-cylinders']]
df18 = df[['engine-size']]
df19 = df[['fuel-system']]
df20 = df[['bore']]
df21 = df[['stroke']]
df22 = df[['compression-ratio']]
df23 = df[['horsepower']]
df24 = df[['peak-rpm']]
df25 = df[['city-mpg']]
df26 = df[['highway-mpg']]
df27 = df[['price']]

In [3]:
# CriaÃ§Ã£o do data frame de variaveis

quant = 26

df_variable = pd.concat([df1]*quant, ignore_index=True)

# Renomeando a coluna id para variable
df_variable = df_variable.rename(columns={'id': 'variable'})

In [4]:
# CriaÃ§Ã£o data frames de valores
# Pegando os 205 primeiros valores de cada coluna e criando um dataframe
quant = 205 #quantidade de carros

top_df2 = df2.head(quant)
top_df3 = df3.head(quant) 
top_df4 = df4.head(quant)
top_df5 = df5.head(quant)
top_df6 = df6.head(quant)
top_df7 = df7.head(quant)
top_df8 = df8.head(quant)
top_df9 = df9.head(quant)
top_df10 = df10.head(quant)
top_df11 = df11.head(quant)
top_df12 = df12.head(quant)
top_df13 = df13.head(quant)
top_df14 = df14.head(quant)
top_df15 = df15.head(quant)
top_df16 = df16.head(quant)
top_df17 = df17.head(quant)
top_df18 = df18.head(quant)
top_df19 = df19.head(quant)
top_df20 = df20.head(quant)
top_df21 = df21.head(quant)
top_df22 = df22.head(quant)
top_df23 = df23.head(quant)
top_df24 = df24.head(quant)
top_df25 = df25.head(quant)
top_df26 = df26.head(quant)
top_df27 = df27.head(quant)

In [5]:
#Renomeando as colunas para value
top_df2 = top_df2.rename(columns={'symboling': 'value'})
top_df3 = top_df3.rename(columns={'normalized-losses': 'value'})
top_df4 = top_df4.rename(columns={'make': 'value'})
top_df5 = top_df5.rename(columns={'fuel-type': 'value'})
top_df6 = top_df6.rename(columns={'aspiration': 'value'})
top_df7 = top_df7.rename(columns={'num-of-doors': 'value'})
top_df8 = top_df8.rename(columns={'body-style': 'value'})
top_df9 = top_df9.rename(columns={'drive-wheels': 'value'})
top_df10 = top_df10.rename(columns={'engine-location': 'value'})
top_df11 = top_df11.rename(columns={'wheel-base': 'value'})
top_df12 = top_df12.rename(columns={'length': 'value'})
top_df13 = top_df13.rename(columns={'width': 'value'})
top_df14 = top_df14.rename(columns={'height': 'value'})
top_df15 = top_df15.rename(columns={'curb-weight': 'value'})
top_df16 = top_df16.rename(columns={'engine-type': 'value'})
top_df17 = top_df17.rename(columns={'num-of-cylinders': 'value'})
top_df18 = top_df18.rename(columns={'engine-size': 'value'})
top_df19 = top_df19.rename(columns={'fuel-system': 'value'})
top_df20 = top_df20.rename(columns={'bore': 'value'})
top_df21 = top_df21.rename(columns={'stroke': 'value'})
top_df22 = top_df22.rename(columns={'compression-ratio': 'value'})
top_df23 = top_df23.rename(columns={'horsepower': 'value'})
top_df24 = top_df24.rename(columns={'peak-rpm': 'value'})
top_df25 = top_df25.rename(columns={'city-mpg': 'value'})
top_df26 = top_df26.rename(columns={'highway-mpg': 'value'})
top_df27 = top_df27.rename(columns={'price': 'value'})

In [6]:
# Concatenando os data frames de valores
df_value = pd.concat([top_df2, top_df3, top_df4, top_df5, top_df6, top_df7, top_df8, top_df9, top_df10, top_df11, top_df12, top_df13, top_df14, top_df15, top_df16, top_df17, top_df18, top_df19, top_df20, top_df21, top_df22, top_df23, top_df24, top_df25, top_df26, top_df27], ignore_index=True)

In [1]:
# df_group
# Criando os dataframes de colunas

df_col1 = pd.DataFrame({'group': ['symboling']})
df_col2 = pd.DataFrame({'group': ['normalized-losses']})
df_col3 = pd.DataFrame({'group': ['make']})
df_col4 = pd.DataFrame({'group': ['fuel-type']})
df_col5 = pd.DataFrame({'group': ['aspiration']})
df_col6 = pd.DataFrame({'group': ['num-of-doors']})
df_col7 = pd.DataFrame({'group': ['body-style']})
df_col8 = pd.DataFrame({'group': ['drive-wheels']})
df_col9 = pd.DataFrame({'group': ['engine-location']})
df_col10 = pd.DataFrame({'group': ['wheel-base']})
df_col11 = pd.DataFrame({'group': ['length']})
df_col12 = pd.DataFrame({'group': ['width']})
df_col13 = pd.DataFrame({'group': ['height']})
df_col14 = pd.DataFrame({'group': ['curb-weight']})
df_col15 = pd.DataFrame({'group': ['engine-type']})
df_col16 = pd.DataFrame({'group': ['num-of-cylinders']})
df_col17 = pd.DataFrame({'group': ['engine-size']})
df_col18 = pd.DataFrame({'group': ['fuel-system']})
df_col19 = pd.DataFrame({'group': ['bore']})
df_col20 = pd.DataFrame({'group': ['stroke']})
df_col21 = pd.DataFrame({'group': ['compression-ratio']})
df_col22 = pd.DataFrame({'group': ['horsepower']})
df_col23 = pd.DataFrame({'group': ['peak-rpm']})
df_col24 = pd.DataFrame({'group': ['city-mpg']})
df_col25 = pd.DataFrame({'group': ['highway-mpg']})
df_col26 = pd.DataFrame({'group': ['price']})

# Concatenando cada coluna em um data frame 60 vezes
quant = 205 # quantidade de dados/carros

df_column_rep1 = pd.concat([df_col1]*quant, ignore_index=True) 
df_column_rep2 = pd.concat([df_col2]*quant, ignore_index=True) 
df_column_rep3 = pd.concat([df_col3]*quant, ignore_index=True) 
df_column_rep4 = pd.concat([df_col4]*quant, ignore_index=True) 
df_column_rep5 = pd.concat([df_col5]*quant, ignore_index=True) 
df_column_rep6 = pd.concat([df_col6]*quant, ignore_index=True) 
df_column_rep7 = pd.concat([df_col7]*quant, ignore_index=True) 
df_column_rep8 = pd.concat([df_col8]*quant, ignore_index=True) 
df_column_rep9 = pd.concat([df_col9]*quant, ignore_index=True) 
df_column_rep10 = pd.concat([df_col10]*quant, ignore_index=True)
df_column_rep11 = pd.concat([df_col11]*quant, ignore_index=True)
df_column_rep12 = pd.concat([df_col12]*quant, ignore_index=True)
df_column_rep13 = pd.concat([df_col13]*quant, ignore_index=True)
df_column_rep14 = pd.concat([df_col14]*quant, ignore_index=True)
df_column_rep15 = pd.concat([df_col15]*quant, ignore_index=True)
df_column_rep16 = pd.concat([df_col16]*quant, ignore_index=True)
df_column_rep17 = pd.concat([df_col17]*quant, ignore_index=True)
df_column_rep18 = pd.concat([df_col18]*quant, ignore_index=True)
df_column_rep19 = pd.concat([df_col19]*quant, ignore_index=True)
df_column_rep20 = pd.concat([df_col20]*quant, ignore_index=True)
df_column_rep21 = pd.concat([df_col21]*quant, ignore_index=True)
df_column_rep22 = pd.concat([df_col22]*quant, ignore_index=True)
df_column_rep23 = pd.concat([df_col23]*quant, ignore_index=True)
df_column_rep24 = pd.concat([df_col24]*quant, ignore_index=True)
df_column_rep25 = pd.concat([df_col25]*quant, ignore_index=True)
df_column_rep26 = pd.concat([df_col26]*quant, ignore_index=True)

#Concatenando os novos data frames em um unico data frame
df_group = pd.concat([df_column_rep1, df_column_rep2, df_column_rep3, df_column_rep4, df_column_rep5, df_column_rep6, df_column_rep7, df_column_rep8, df_column_rep9, df_column_rep10, df_column_rep11, df_column_rep12, df_column_rep13, df_column_rep14, df_column_rep15, df_column_rep16, df_column_rep17, df_column_rep18, df_column_rep19, df_column_rep20, df_column_rep21, df_column_rep22, df_column_rep23, df_column_rep24, df_column_rep25, df_column_rep26], ignore_index=True) 

df_group

NameError: name 'pd' is not defined

In [8]:
# criando o dataframe com os tipos de dados de cada coluna

# Criando o array de dados
data_type = {'datatype' : [
'int',
'float',
'string',
'string',
'string',
'string',
'string',
'string',
'string',
'float',
'float',
'float',
'float',
'int',
'string',
'string',
'int',
'string',
'float',
'float',
'float',
'float',
'float',
'int',
'int',
'float']}

# Transformando em um data frame
df_type = pd.DataFrame(data_type, columns = ['datatype'])

quant = 205

# Concatenando cada linha do data frame de tipos de dados X vezes e criando um data frame para cada.
df_datatype0 = pd.concat([df_type.loc[[0]]]*quant, ignore_index=True)
df_datatype1 = pd.concat([df_type.loc[[1]]]*quant, ignore_index=True)
df_datatype2 = pd.concat([df_type.loc[[2]]]*quant, ignore_index=True)
df_datatype3 = pd.concat([df_type.loc[[3]]]*quant, ignore_index=True)
df_datatype4 = pd.concat([df_type.loc[[4]]]*quant, ignore_index=True)
df_datatype5 = pd.concat([df_type.loc[[5]]]*quant, ignore_index=True)
df_datatype6 = pd.concat([df_type.loc[[6]]]*quant, ignore_index=True)
df_datatype7 = pd.concat([df_type.loc[[7]]]*quant, ignore_index=True)
df_datatype8 = pd.concat([df_type.loc[[8]]]*quant, ignore_index=True)
df_datatype9 = pd.concat([df_type.loc[[9]]]*quant, ignore_index=True)
df_datatype10 = pd.concat([df_type.loc[[10]]]*quant, ignore_index=True)
df_datatype11 = pd.concat([df_type.loc[[11]]]*quant, ignore_index=True)
df_datatype12 = pd.concat([df_type.loc[[12]]]*quant, ignore_index=True)
df_datatype13 = pd.concat([df_type.loc[[13]]]*quant, ignore_index=True)
df_datatype14 = pd.concat([df_type.loc[[14]]]*quant, ignore_index=True)
df_datatype15 = pd.concat([df_type.loc[[15]]]*quant, ignore_index=True)
df_datatype16 = pd.concat([df_type.loc[[16]]]*quant, ignore_index=True)
df_datatype17 = pd.concat([df_type.loc[[17]]]*quant, ignore_index=True)
df_datatype18 = pd.concat([df_type.loc[[18]]]*quant, ignore_index=True)
df_datatype19 = pd.concat([df_type.loc[[19]]]*quant, ignore_index=True)
df_datatype20 = pd.concat([df_type.loc[[20]]]*quant, ignore_index=True)
df_datatype21 = pd.concat([df_type.loc[[21]]]*quant, ignore_index=True)
df_datatype22 = pd.concat([df_type.loc[[22]]]*quant, ignore_index=True)
df_datatype23 = pd.concat([df_type.loc[[23]]]*quant, ignore_index=True)
df_datatype24 = pd.concat([df_type.loc[[24]]]*quant, ignore_index=True)
df_datatype25 = pd.concat([df_type.loc[[25]]]*quant, ignore_index=True)

# concatenando todas os data frames em um unico data frame
df_datatype = pd.concat([df_datatype0,df_datatype1,df_datatype2,df_datatype3,df_datatype4,df_datatype5,df_datatype6,df_datatype7,df_datatype8,df_datatype9,df_datatype10,df_datatype11,df_datatype12,df_datatype13,df_datatype14,df_datatype15,df_datatype16,df_datatype17,df_datatype18,df_datatype19,df_datatype20,df_datatype21,df_datatype22,df_datatype23,df_datatype24,df_datatype25], ignore_index=True)

In [9]:
# Criando dataframe com os valores minimos de cada coluna

# Criando array de dados
data_min = {'min_val' : [
-2,
65.0,
0,
0,
0,
0,
0,
0,
0,
86.6,
141.1,
60.3,
47.8,
1488,
0,
0,
61,
0,
2.54,
2.07,
7.0,
48.0,
4150.0,
13,
16,
5118.0]}

# Transformando em data frame
df_min = pd.DataFrame(data_min, columns = ['min_val'])

quant = 205

# Concatenando cada linha do data frame de valore minimos dados X vezes e criando um data frame para cada.
df_data_min0 = pd.concat([df_min.loc[[0]]]*quant, ignore_index=True)
df_data_min1 = pd.concat([df_min.loc[[1]]]*quant, ignore_index=True)
df_data_min2 = pd.concat([df_min.loc[[2]]]*quant, ignore_index=True)
df_data_min3 = pd.concat([df_min.loc[[3]]]*quant, ignore_index=True)
df_data_min4 = pd.concat([df_min.loc[[4]]]*quant, ignore_index=True)
df_data_min5 = pd.concat([df_min.loc[[5]]]*quant, ignore_index=True)
df_data_min6 = pd.concat([df_min.loc[[6]]]*quant, ignore_index=True)
df_data_min7 = pd.concat([df_min.loc[[7]]]*quant, ignore_index=True)
df_data_min8 = pd.concat([df_min.loc[[8]]]*quant, ignore_index=True)
df_data_min9 = pd.concat([df_min.loc[[9]]]*quant, ignore_index=True)
df_data_min10 = pd.concat([df_min.loc[[10]]]*quant, ignore_index=True)
df_data_min11 = pd.concat([df_min.loc[[11]]]*quant, ignore_index=True)
df_data_min12 = pd.concat([df_min.loc[[12]]]*quant, ignore_index=True)
df_data_min13 = pd.concat([df_min.loc[[13]]]*quant, ignore_index=True)
df_data_min14 = pd.concat([df_min.loc[[14]]]*quant, ignore_index=True)
df_data_min15 = pd.concat([df_min.loc[[15]]]*quant, ignore_index=True)
df_data_min16 = pd.concat([df_min.loc[[16]]]*quant, ignore_index=True)
df_data_min17 = pd.concat([df_min.loc[[17]]]*quant, ignore_index=True)
df_data_min18 = pd.concat([df_min.loc[[18]]]*quant, ignore_index=True)
df_data_min19 = pd.concat([df_min.loc[[19]]]*quant, ignore_index=True)
df_data_min20 = pd.concat([df_min.loc[[20]]]*quant, ignore_index=True)
df_data_min21 = pd.concat([df_min.loc[[21]]]*quant, ignore_index=True)
df_data_min22 = pd.concat([df_min.loc[[22]]]*quant, ignore_index=True)
df_data_min23 = pd.concat([df_min.loc[[23]]]*quant, ignore_index=True)
df_data_min24 = pd.concat([df_min.loc[[24]]]*quant, ignore_index=True)
df_data_min25 = pd.concat([df_min.loc[[25]]]*quant, ignore_index=True)

# Concatenando os data frames de valores minimos em um unico data frame
df_min = pd.concat([df_data_min0,df_data_min1,df_data_min2,df_data_min3,df_data_min4,df_data_min5,df_data_min6,df_data_min7,df_data_min8,df_data_min9,df_data_min10,df_data_min11,df_data_min12,df_data_min13,df_data_min14,df_data_min15,df_data_min16,df_data_min17,df_data_min18,df_data_min19,df_data_min20,df_data_min21,df_data_min22,df_data_min23,df_data_min24,df_data_min25], ignore_index=True)
#

In [10]:
#Criando um dataframe com os valores maximos de cada coluna

# Criando o array de dados
data_max = {'max_val' : [
3,
256.0,
21,
1,
1,
2,
4,
2,
1,
120.9,
208.1,
72.3,
59.8,
4066,
6,
6,
326,
7,
3.94,
4.17,
23.0,
288.0,
6600.0,
49,
54,
45400.0]}

# Transformando em data frame
df_max = pd.DataFrame(data_max, columns = ['max_val'])

quant = 205 # quantidade de dados

# Concatenando cada linha do data frame de valore mÃ¡ximos dados X vezes e criando um data frame para cada. 
df_data_max0 = pd.concat([df_max.loc[[0]]]*quant, ignore_index=True)
df_data_max1 = pd.concat([df_max.loc[[1]]]*quant, ignore_index=True)
df_data_max2 = pd.concat([df_max.loc[[2]]]*quant, ignore_index=True)
df_data_max3 = pd.concat([df_max.loc[[3]]]*quant, ignore_index=True)
df_data_max4 = pd.concat([df_max.loc[[4]]]*quant, ignore_index=True)
df_data_max5 = pd.concat([df_max.loc[[5]]]*quant, ignore_index=True)
df_data_max6 = pd.concat([df_max.loc[[6]]]*quant, ignore_index=True)
df_data_max7 = pd.concat([df_max.loc[[7]]]*quant, ignore_index=True)
df_data_max8 = pd.concat([df_max.loc[[8]]]*quant, ignore_index=True)
df_data_max9 = pd.concat([df_max.loc[[9]]]*quant, ignore_index=True)
df_data_max10 = pd.concat([df_max.loc[[10]]]*quant, ignore_index=True)
df_data_max11 = pd.concat([df_max.loc[[11]]]*quant, ignore_index=True)
df_data_max12 = pd.concat([df_max.loc[[12]]]*quant, ignore_index=True)
df_data_max13 = pd.concat([df_max.loc[[13]]]*quant, ignore_index=True)
df_data_max14 = pd.concat([df_max.loc[[14]]]*quant, ignore_index=True)
df_data_max15 = pd.concat([df_max.loc[[15]]]*quant, ignore_index=True)
df_data_max16 = pd.concat([df_max.loc[[16]]]*quant, ignore_index=True)
df_data_max17 = pd.concat([df_max.loc[[17]]]*quant, ignore_index=True)
df_data_max18 = pd.concat([df_max.loc[[18]]]*quant, ignore_index=True)
df_data_max19 = pd.concat([df_max.loc[[19]]]*quant, ignore_index=True)
df_data_max20 = pd.concat([df_max.loc[[20]]]*quant, ignore_index=True)
df_data_max21 = pd.concat([df_max.loc[[21]]]*quant, ignore_index=True)
df_data_max22 = pd.concat([df_max.loc[[22]]]*quant, ignore_index=True)
df_data_max23 = pd.concat([df_max.loc[[23]]]*quant, ignore_index=True)
df_data_max24 = pd.concat([df_max.loc[[24]]]*quant, ignore_index=True)
df_data_max25 = pd.concat([df_max.loc[[25]]]*quant, ignore_index=True)

# Concatenando os data frames de valores mÃ¡ximos em um unico data frame
df_max = pd.concat([df_data_max0,df_data_max1,df_data_max2,df_data_max3,df_data_max4,df_data_max5,df_data_max6,df_data_max7,df_data_max8,df_data_max9,df_data_max10,df_data_max11,df_data_max12,df_data_max13,df_data_max14,df_data_max15,df_data_max16,df_data_max17,df_data_max18,df_data_max19,df_data_max20,df_data_max21,df_data_max22,df_data_max23,df_data_max24,df_data_max25], ignore_index=True)
#

In [11]:
# Concatenando os data frames

#Criando data frame final e adicionando o data frame group
df_final = pd.DataFrame(df_group)

# adicionando o data frame variable no data frame final
df_final.insert(1, "variable", df_variable, True) 

# Adicionando o data frame value no data frame final
df_final.insert(2, "value", df_value, True)  

# Adicionando o data frame de tipos de dados no data frame final
df_final.insert(3, "datatype", df_datatype, True) 

# Adicionando o data frame valores minimos no data frame final
df_final.insert(4, "min_val", df_min, True)  

# Adicionando o data frame de valores maximos no data frame final
df_final.insert(5, "max_val", df_max, True)     

# ExibiÃ§Ã£o do data frame final 
df_final

          group  variable  value datatype  min_val  max_val
0     symboling      1001      3      int     -2.0      3.0
1     symboling      1002      3      int     -2.0      3.0
2     symboling      1003      1      int     -2.0      3.0
3     symboling      1004      2      int     -2.0      3.0
4     symboling      1005      2      int     -2.0      3.0
...         ...       ...    ...      ...      ...      ...
5325      price      1201  16845    float   5118.0  45400.0
5326      price      1202  19045    float   5118.0  45400.0
5327      price      1203  21485    float   5118.0  45400.0
5328      price      1204  22470    float   5118.0  45400.0
5329      price      1205  22625    float   5118.0  45400.0

[5330 rows x 6 columns]

In [12]:
# Substitui ? por missing value
df_final.replace({'?': 'missing value'}, regex=False,inplace=True)

In [13]:
# Salva os dados no csv sem a coluna index
path = r'C:\pandas-profiling\data\automobile_data.csv'

df_final.to_csv(path, index=False)